p {
    margin: 0;
}
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    height: 100%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* CSS for the guess the number boxes */
.gtn-box {
    min-height: 300px;
    min-width: 400px;

    border: 2px solid black;
    border-radius: 32px;

    display: none;
    flex-direction: column;
    position: relative;

    background-color: aqua;
    overflow: hidden;
}
.default-box {
    display: flex;
}
.gtn-box h2 {
    text-align: center;
    margin: 0;
    padding: 16px;
    font-size: 32px;
}
.vs-container {
    width: 100%;
    display: flex;
    text-align: center;
}
.vs-container div {
    flex: 1 1 0;
}