p {
    margin: 0;
}
.reg-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    
    /* background-color: black; */
}

/* CSS for the regboxes */
.reg-box {
    /* height: 500px; */
    min-width: 400px;

    border: 2px solid black;
    border-radius: 32px;

    display: none;
    flex-direction: column;
    position: relative;

    background-color: aqua;
    overflow: hidden;
}
.default-box {
    display: flex;
}
.box-body {
    text-align: center;
    padding: 0px;
}
.box-body h2 {
    margin: 0;
    padding: 16px;

    font-size: 64px;
}
.box-info {
    width: 0;
    min-width: 100%;

    display: block;
    font-size: 32px;
    overflow-wrap: break-word;
}
.box-info p {
    padding: 16px;
    padding-top: 0px;
}
/* Css for the form */
form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}
form .feild {
    width: 50%;
    display: flex;
    flex-direction: column;
}
form .feild .label-wrapper {
    width: 100%;
    margin: 0;
}
form .feild .label-wrapper label {
    font-size: 16px;
}
form .feild .input-wrapper {
    padding: 8px;
    padding-top: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form .feild .input-wrapper input {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: rgb(1, 235, 235);
    border-bottom: 2px solid black;
    border-radius: 4px;
}

/* The css for the bottom of the box, the buttons */
.box-foot {
    width: 100%;
    margin-top: auto;
    display: flex;
    background-color: blueviolet;
}
.reg-link {
    flex: 1;
    
    margin: 0;
    border-top: 1px solid black;
    padding: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    transition: 0.2s;
}
.reg-link:not(:last-child) {
    border-right: 1px solid black;
}
.reg-link:hover{
    cursor: pointer;
    background-color: grey;
    text-decoration: underline;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}